body {
  background-color: lightgray;
}


div {
  border-radius: 5px; 
  background-color: skyblue;
  padding: 5px;
}

#title {
  width: 90%;
  margin: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

#outputTable, #inputField , #dropdownMenu, #deleteDiv {
  margin-left: auto;
  margin-right: auto;

  width: 90%;  
}

#deleteAll {
  text-align: center;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 4px;

}

.removeVid {
  background-color: #DDDDDD;
  padding: 2px; 
}

.status {
  background-color: lightgreen;
  padding: 2px;
}
